html {
  background-color: #fff;
}

.navbar,
.nav {
  background: #f5f5f5;
}


.navbar {
  border-bottom: 1px solid #e5e5e5;
}

.control:not(:last-child) {
  margin-bottom: 0;
}

.button.is-info,
.button.is-info.is-active,
.button.is-info:focus,
.button.is-info:hover {
  background: #fff;
  border: 1px solid #ddd;
  color: #767676;
}

.nav-right .icon .fa {
  font-size: 15px;
}

.header-wrapper {
  overflow: hidden;
  background: #fafafa;
  padding-top: 20px;
}

/* Tab Navigation */
.active {
  background: #fff;
  border-bottom: none;
  border-top: 3px solid #d26911;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.tabs-wrapper {
  background: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.tabs ul {
  border-bottom: none;
}

.tabs a {
  border-bottom: none;
  padding: 8px 15px 11px;
}

.app-wrapper {
  overflow: hidden;
}

.box {
  background: none;
  box-shadow: none;
}

.box .level-item:not(:last-child) {
  margin-right: 3em;
}

.box .level-item .icon {
  margin-right: .3em;
  padding-top: 2px;
}

.repo article {
  padding: 2em 1em;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.repos-wrapper,
.people-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.repos-wrapper,
.footer-wrapper {
  overflow: hidden;
  background: #fff;
}

.image.is-48x48 {
  float: left;
  margin-right: 1em;
}

td.username {
  font-weight: bold;
}

.people {
  background: #fff;
}

thead {
  border: 2px solid #eee;
}

.table th {
  padding: 1em;
}

thead tr {
  background: #f8f8f8;
}

thead th {
  font-weight: normal;
  color: #767676;
}

.people-table {
  border: 1px solid #eee;
}

.card {
  width: 230px;
  background: none;
  box-shadow: none;
}

.card img {
  border-radius: 6px;
}

.profile-info .card {
  margin: 0 auto;
}

.info-item {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  padding: 1em 0;

  font-size: 13px;
}

.personal-info i {
  margin-right: 10px;
  font-size: 13px;
  margin-top: 2px;
}

.followers-following {
  overflow: hidden;
  padding: 12px 0;
}

.followers-following a {
  float: left;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #4078c0;
  width: 33.33%;
}

.followers-following span {
  display: block;
  text-decoration: none;
  color: #767676;
  font-size: 11px;
  font-weight: normal;
}

.organizations {
  overflow: hidden;
  clear: both;

}

.organizations p {
  font-size: 20px;
  font-weight: 600 !important;
  margin-top: 1em;
  margin-bottom: 0 !important;
}

.profile-wrapper {
  margin-top: 20px;
}

.peopleImage img {
  float: left;
  margin: 1px !important
}

.peopleImage figure {
  margin: 1px !important;

}

.langCard {
  overflow: hidden;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.lang-card-header {
  overflow: hidden;
}

.people-card-header a p:first-child {
  float: left;
}

.people-card-header a p:last-child {
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
  color: #767676;
  float: right;
}

/* Footer */
.footer-wrapper {
  font-size: 12px;
  color: #767676;
  padding: 40px 0;
  border-top: 1px solid #eee;
}

.footer-wrapper nav {
  background: #fff;
}

.footer-wrapper a {
  color: #4078c0;
}

.footer-wrapper .nav-center a {
  color: #bbb;
  font-size: 24px;

}

.footer-wrapper .nav-center a:hover {
  color: #ccc;
}

.footer-wrapper .nav-center a .icon i {
  font-size: 24px;
}

strong {
  color:#33516f;
}
